html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #000000;
  font-family: 'Open Sans Condensed', sans-serif;
  /* font-family: 'Wire One', sans-serif; */
  font-size: 25px;
  text-align: center;
}

p {
  margin: 0;
}

/* MODE SWITCH */
.switch-wrap {
  display: flex;
  justify-content: flex-end;
}

#toggle {
  color: #ffffff;
  background-color: #000000;
  border-radius: 3px;
  padding: 5px;
  margin: 10px;
  border: none;
}

#toggle:focus {
  outline: none;
  border: none;
}

#toggle:hover {
  background-color: #00ffff;
  color: #000000;
}

/* MAIN */

/* removes the number input arrows */
/* for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* for Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* WRAPPER */
#page-wrap {
  display: flex;
  justify-content: center;
}

/* CONTAINER */
#container {
  background-color: #000000;
  color: #ffffff;
  width: 620px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

/* TOP AND INPUTS */
#topmost {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#top {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.currencies {
  display: flex;
  justify-content: space-around;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#top1,
#top2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#sel1,
#sel2 {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #000000;
  color: #ffffff;
  outline: none;
  border: none;
  border-top: 1px solid #787878;
}

#sel1:hover,
#sel2:hover,
#sel1:focus,
#sel2:focus {
  border-top: 1px solid #00ffff;
}

#in1,
#in2 {
  background-color: #000000;
  color: #ffffff;

  /* test on another computer */
  width: 250px;
  height: 120px;
  /* min-height: 120px;
  min-width: 250px; */

  /* max-height: 144px;
  max-width: 300px; */
  font-size: 90px;
  font-family: 'Wire One', sans-serif;
  text-align: center;
  border: none;
  outline: none;
}

#in1:hover,
#in2:hover,
#in1:focus,
#in2:focus {
  color: #00ffff;
}

#rate {
  text-align: left;
}

#rate-desc {
  font-size: 12px;
  margin-bottom: -20px;
  color: #6b6b6b;
}

/* MIDDLE */
.space {
  height: 20px;
  width: 20px;
}

/* BOTTOM */
#bottom {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.new-input-wrap {
  display: flex;
  justify-content: center;
  justify-content: stretch;
  flex-wrap: wrap;
}

#new-cur,
#new-rate,
#add-btn {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 17px;
  background-color: #000000;
  color: #ffffff;
  outline: none;
  border: none;
  border-bottom: 1px solid #787878;
}

#new-cur:focus,
#new-rate:focus,
#new-cur:hover,
#new-rate:hover {
  border-bottom: 1px solid #00ffff;
}

#add-btn {
  border: 1px solid #9b9b9b;
  border-radius: 3px;
}

#add-btn:hover {
  background-color: #00ffff;
  color: #000000;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  /*!----------------- delete */

  /* #page-wrap {
    border: 5px solid yellow;
  }
  #container {
    border: 5px solid white;
  }
  #topmost,
  #top,
  .space,
  #bottom {
    border: 5px solid blue;
  }
  #topmost span,
  .currencies,
  #rate,
  .new-input-wrap,
  #add-btn {
    border: 5px solid red;
  }
  #top1,
  #top2,
  #rate-desc,
  #rate-value,
  #new-cur,
  #new-rate {
    border: 5px solid chartreuse;
  } */

  /*!----------------- delete */

  h1 {
    padding-bottom: 20px;
  }

  #topmost h1 {
    display: flex;
    flex-direction: column;
  }

  #toggle {
    color: #000000;
    background-color: #00ffff;
  }

  /* ------ MAIN ------ */
  /* WRAPPER */
  #container {
    margin: 0 5%;
  }
  /* CONTAINER */

  .currencies {
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: stretch; */
  }

  #top1,
  #top2 {
    /* text-align: center; */
    /* display: flex;
    flex-direction: column;
    align-items: stretch; */
    /* align-items: stretch; */

    /* align-items: stretch; */
  }

  #top2 {
    margin-top: 10px;
  }

  #in1,
  #in2 {
    width: 100%;
    height: auto;
    /* width: 99%; */
    /* max-height: auto;
    max-width: 100%; */
    font-size: 80px;
    border: 1px solid #787878;
    border-top: none;
  }

  #in1:hover,
  #in2:hover,
  #in1:focus,
  #in2:focus {
    border: 1px solid #00ffff;
    border-top: none;
  }

  #rate {
    text-align: center;
  }

  #rate-desc {
    margin-top: 0px;
  }

  #rate-value {
    margin-top: -10px;
  }

  #rate-value {
    font-size: 20px;
  }

  /* BOTTOM */
  #bottom {
    display: block;
    /* flex-direction: column; */
  }

  .new-input-wrap {
    /* display: block; */
    /* width: 97%; */
    flex-direction: column;
    align-items: stretch;
  }

  #new-cur,
  #new-rate {
    /* width: 97%; */
    /* width: max-content; */
  }

  #new-cur,
  #new-rate,
  #add-btn {
    /*todo add later */
    border: 1px solid #787878;
  }

  #new-cur:focus,
  #new-rate:focus,
  #new-cur:hover,
  #new-rate:hover {
    border: 1px solid #00ffff;
  }

  #add-btn {
    margin-top: 20px;
    padding: 7px 14px;
    /* max-width: 460px;
    height: auto; */
  }
}
