html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d7d7d7;
  font-family: 'Open Sans Condensed', sans-serif;
  /* font-family: 'Wire One', sans-serif; */
  font-size: 25px;
  text-align: center;
}

p {
  margin: 0;
}

/* MODE SWITCH */
.switch-wrap {
  display: flex;
  justify-content: flex-end;
}

#toggle {
  color: #000000;
  background-color: #d7d7d7;
  border-radius: 3px;
  padding: 5px;
  margin: 10px;
  border: none;
}

#toggle:focus {
  outline: none;
  border: none;
}

#toggle:hover {
  background-color: #ff00af;
  color: #ffffff;
}

/* MAIN */

/* remove the nuber input arrows */
/* for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* for Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* WRAPPER */
#page-wrap {
  display: flex;
  justify-content: center;
}

/* CONTAINER */
#container {
  background-color: #d7d7d7;
  color: #000000;
  width: 620px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

/* TOP AND INPUTS */
#topmost p {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#top {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.currencies {
  display: flex;
  justify-content: space-around;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#top1,
#top2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#sel1,
#sel2 {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #d7d7d7;
  color: #000000;
  outline: none;
  border: none;
  border-top: 1px solid #787878;
}

#sel1:hover,
#sel2:hover,
#sel1:focus,
#sel2:focus {
  border-top: 1px solid #ff00af;
}

#in1,
#in2 {
  background-color: #d7d7d7;
  color: #000000;

  /* test on another computer */
  /* height: 120px;
  width: 250px; */
  /* min-height: 120px;
  min-width: 250px; */

  max-height: 144px;
  max-width: 300px;
  font-size: 90px;
  font-family: 'Wire One', sans-serif;
  text-align: center;
  border: none;
  outline: none;
}

#in1:hover,
#in2:hover,
#in1:focus,
#in2:focus {
  color: #ff00af;
}

#rate {
  text-align: left;
}

#rate-desc {
  font-size: 12px;
  margin-bottom: -20px;
  color: #6b6b6b;
}

/* MIDDLE */
.space {
  height: 20px;
  width: 20px;
}

/* BOTTOM */
#bottom {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.new-input-wrap {
  display: flex;
  justify-content: center;
  justify-content: stretch;
  flex-wrap: wrap;
}

#new-cur,
#new-rate,
#add-btn {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 17px;
  background-color: #d7d7d7;
  color: #000000;
  outline: none;
  border: none;
  border-bottom: 1px solid #787878;
}

#new-cur:focus,
#new-rate:focus,
#new-cur:hover,
#new-rate:hover {
  border-bottom: 1px solid #ff00af;
}

#add-btn {
  border: 1px solid #9b9b9b;
  border-radius: 3px;
}

#add-btn:hover {
  background-color: #ff00af;
  color: #ffffff;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body {
    font-size: 1.5625em;
    background-color: rgb(215, 215, 215);
  }

  /* MODE SWITCH */
  #toggle {
    color: rgb(215, 215, 215);
    background-color: #ff00af;
  }

  /* CONTAINER */
  #container {
    margin: 0 0.625em 0.625em 0.625em;
    box-shadow: none;
  }

  /* TOP AND INPUTS */
  #topmost p {
    margin-top: -1.25em;
    font-size: 0.625em;
  }

  #sel2 {
    margin-left: 0.3125em;
  }

  #in1,
  #in2 {
    height: 1em;
    width: 2.6em;
    font-size: 2.5em;
  }

  #rate-desc {
    font-size: 0.625em;
    margin-bottom: -1.875em;
  }

  #rate {
    font-size: 0.9375em;
  }

  /* MIDDLE */
  #middle {
    height: 5vh;
  }

  /* BOTTOM */
  #bottom {
    width: 99%;
  }

  #new-cur,
  #new-rate,
  #add-btn {
    font-size: 0.6875em;
  }

  #new-cur,
  #new-rate {
    width: 7.6em;
  }
}
